* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  height: auto;
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 0.8rem;
}

/* .title, .content, .button-container {
  padding: 0.8rem;
} */

.title {
  background: #e3f4ff;
  font-size: 1.6rem;
  padding: 0.8rem;
}

.content {
  background: #e3f4ff;
  margin: 0.8rem 0;
  font-size: 1.6rem;
  padding: 1.6rem 0.8rem;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 0.8rem;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: auto;
  padding: 0.8rem 2.4rem;
}