* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    color: #F9FAF8;

    font-size: 1.8rem;
    font-family: 'Raleway', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    display: flex;
    flex-direction: column;

}

 /* Hero Section */
#hero-section {
    padding:2rem 7rem;
    background-color: #1F2937;
    height: 100vh;
}

/* Navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-logo-text {
    color: inherit;
    font-size: 2.4rem;
}


ul {
    display: flex;
    gap: 3rem;
    margin-left: auto;
    list-style-type: none;
}

a {
    color: #E5E7EB;
    font-size: 1.8rem;
    text-decoration: none;
}

/* Main Container */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    height: 90vh;
}

.left-main {
    min-width: 35rem;
}

.hero-main-text {
    color: inherit;
    font-size: 4.8rem;
    font-weight: 800;
}

.hero-subtext {
    padding: 0.5rem 0;
    line-height: 1.3;
}

.sign-up-btn {
    background-color: #3882F6;
    color: inherit;
    border: none;
    border-radius: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem 3rem;
}

.right-main {
    background-color: rgba(229, 231, 235, 0.70);
    height: auto;
    min-width: 50%;
    min-height: 20rem;
}

/* Information Section */
#information-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #E5E7EB;
    color: #1F2937;
}

h2 {
    font-size: 3.6rem;
    font-weight: 800;
    color: #1F2937;
    padding: 2rem;
    margin: 3rem;
    align-self: center;
}

.information-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.information-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.information-box p {
    color: #1F2937;
    font-size: 1.8rem;
    width: 25rem;
    line-height: 1.5;
    padding: 1rem 0;
}

.square {
    height: 25rem;
    width: 25rem;
    border: 2px solid #3882F6;
    border-radius: 1rem;
}

/* Testimonial Section */
#testimonials-section {
    height: 50vh;
    color: #1F2937;
    font-size: 3.6rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.testimonial-box {
    width: 70rem;
}

.quote {
    font-style: italic;
    padding: 2rem 0;
}

.quote-author {
    font-weight: 700;
    display: flex;
    justify-content: flex-end;
}

/* Call to Action */
#call-to-action-section {
    height: 40vh;
}

.action-box {
    color: #E5E7EB;
    background-color: #3882F6;
    padding: 3rem 9rem;
    border-radius: 0.5rem;
    margin: 8rem;

    display: flex;
    align-items: center;
}

.action-call {
    font-weight: 700;
}

.action-sign-call {
    font-size: 1.4rem;
}

.sign-up-action {
    color: #E5E7EB;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 0.5rem;
    padding: 0.5rem 4rem;
    margin-left: auto;
}

/* Footer */

footer {
    height: 10vh;
    background-color: #1F2937;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1.4rem;
}